### Full Data Pre-Processing Pipeline

In [245]:
import pandas as pd
import zipfile

In [246]:
zip_file_path = "final_data/biologicalresult2.zip"

with zipfile.ZipFile(zip_file_path, 'r') as z:
    file_names = z.namelist()
    
    csv_file_name = [name for name in file_names if name.endswith('.csv')][0]
    
    with z.open(csv_file_name) as f:
        df_bio_metadata = pd.read_csv(f, low_memory=False)

df_bio_metadata.head()

,OrganizationIdentifier,OrganizationFormalName,ActivityIdentifier,ActivityTypeCode,ActivityMediaName,ActivityMediaSubdivisionName,ActivityStartDate,ActivityStartTime/Time,ActivityStartTime/TimeZoneCode,ActivityEndDate,...,LabSamplePreparationMethod/MethodQualifierTypeName,LabSamplePreparationMethod/MethodDescriptionText,PreparationStartDate,PreparationStartTime/Time,PreparationStartTime/TimeZoneCode,PreparationEndDate,PreparationEndTime/Time,PreparationEndTime/TimeZoneCode,SubstitutionDilutionFactorNumeric,ProviderName
0,USGS-CA,USGS California Water Science Center,nwisca.01.01101266,Sample-Routine,Water,Surface Water,2010-12-20,13:50:00,PST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,USGS-CA,USGS California Water Science Center,nwisca.01.01101266,Sample-Routine,Water,Surface Water,2010-12-20,13:50:00,PST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,USGS-CA,USGS California Water Science Center,nwisca.01.01101266,Sample-Routine,Water,Surface Water,2010-12-20,13:50:00,PST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,USGS-CA,USGS California Water Science Center,nwisca.01.01101266,Sample-Routine,Water,Surface Water,2010-12-20,13:50:00,PST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,USGS-CA,USGS California Water Science Center,nwisca.01.01101266,Sample-Routine,Water,Surface Water,2010-12-20,13:50:00,PST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS

In [247]:
valid_activity_ids = df_bio_metadata["ActivityIdentifier"].value_counts()[lambda x: x > 100].index

filtered_df_bio = df_bio_metadata[df_bio_metadata["ActivityIdentifier"].isin(valid_activity_ids)][[
    "OrganizationIdentifier", 
    "ActivityIdentifier",
    "ActivityStartDate", 
    "ActivityEndDate", 
    "CharacteristicName", 
    "ResultMeasureValue",
    "ResultMeasure/MeasureUnitCode", 
    "MeasureQualifierCode",
    "ResultStatusIdentifier",
    "ProjectIdentifier",
    "MonitoringLocationIdentifier"
    
]]

filtered_df_bio

,OrganizationIdentifier,ActivityIdentifier,ActivityStartDate,ActivityEndDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode,MeasureQualifierCode,ResultStatusIdentifier,ProjectIdentifier,MonitoringLocationIdentifier
1207,USGS-CA,nwisca.01.01003947,2010-02-03,NaN,"Temperature, water",11.6,deg C,NaN,Accepted,NaN,USGS-374630121414701
1208,USGS-CA,nwisca.01.01003947,2010-02-03,NaN,"Temperature, air",9.5,deg C,NaN,Accepted,NaN,USGS-374630121414701
1209,USGS-CA,nwisca.01.01003947,2010-02-03,NaN,Barometric pressure,731,mm/Hg,NaN,Accepted,NaN,USGS-374630121414701
1210,USGS-CA,nwisca.01.01003947,2010-02-03,NaN,Specific conductance,912,uS/cm @25C,NaN,Accepted,NaN,USGS-374630121414701
1211,USGS-CA,nwisca.01.01003947,2010-02-03,NaN,"Acidity, (H+)",0.00004,mg/l,NaN,Accepted,NaN,USGS-374630121414701
...,...,...,...,...,...,...,...,...,...,...,...
416262,NARS_WQX,NARS_WQX-NCA_CA-10263:20150831:SR:BGO,2015-08-31,NaN,Count,192,count,NaN,Final,NARS_NCCA2015,NARS_WQX-NCA_CA-10263
416337,NARS_WQX,NARS_WQX-NCA_CA-10235:20150902:SR:BGO,2015-09-02,NaN,"Particle size, Sieve No. 35, 32 Mesh, (0.5 mm)",0.5,mm,NaN,Final,NARS_NCCA2015,NARS_WQX-NCA_CA-10235
416339,NARS_WQX,NARS_WQX-NCA_CA-10234:20150817:SR:BGO,2015-08-17,NaN,"Particle size, Sieve No. 35, 32 Mesh, (0.5 mm)",0.5,mm,NaN,Final,NARS_NCCA2015,NARS_WQX-NCA_CA-10234
416409,NARS_WQX,NARS_WQX-NCA_CA-10243:20150901:SR:BGO,2015-09-01,NaN,Depth,10,cm,NaN,Final,NARS_NCCA2015,NARS_WQX-NCA_CA-10243
416459,NARS_WQX,NARS_WQX-NCA_CA-10262:20150901:SR:BGO,2015-09-01,NaN,Count,7,count,NaN,Final,NARS_NCCA2015,NARS_WQX-NCA_CA-10262

In [248]:
zip_file_path = "final_data/project2.zip"

with zipfile.ZipFile(zip_file_path, 'r') as z:
    file_names = z.namelist()
    
    csv_file_name = [name for name in file_names if name.endswith('.csv')][0]
    
    with z.open(csv_file_name) as f:
        df_project = pd.read_csv(f, low_memory=False)

df_project.head()

,OrganizationIdentifier,OrganizationFormalName,ProjectIdentifier,ProjectName,ProjectDescriptionText,SamplingDesignTypeCode,QAPPApprovedIndicator,QAPPApprovalAgencyName,ProjectFileUrl,ProjectMonitoringLocationWeightingUrl
0,CEDEN,California State Water Resources Control Board,RWB2_TMDL_HMB_2020,RWB2 Half Moon Bay Pathogen TMDL Study 2020,RWB2 Half Moon Bay Pathogen TMDL Study 2020,NaN,NaN,NaN,NaN,NaN
1,CEDEN,California State Water Resources Control Board,RWB2_TMDL_HMB_2019,RWB2 Half Moon Bay Pathogen TMDL Study 2019,RWB2 Half Moon Bay Pathogen TMDL Study 2019,NaN,NaN,NaN,NaN,NaN
2,21CABCH,Southern California Coastal Water Research Pro...,CA253340,Crissy Field,Ocean Reach Conducted in 2014,NaN,NaN,NaN,NaN,NaN
3,21CABCH,Southern California Coastal Water Research Pro...,CA199513,Aquatic Park,Ocean Reach Conducted in 2014,NaN,NaN,NaN,NaN,NaN
4,21CABCH,Southern California Coastal Water Research Pro...,CA776567,Bean Hollow State Beach,Ocean Reach Conducted in 2014,NaN,NaN,NaN,NaN,NaN

In [249]:
zip_file_path = "final_data/station2.zip"

with zipfile.ZipFile(zip_file_path, 'r') as z:
    file_names = z.namelist()
    
    csv_file_name = [name for name in file_names if name.endswith('.csv')][0]
    
    with z.open(csv_file_name) as f:
        df_site = pd.read_csv(f, low_memory=False)

df_site.head()

,OrganizationIdentifier,OrganizationFormalName,MonitoringLocationIdentifier,MonitoringLocationName,MonitoringLocationTypeName,MonitoringLocationDescriptionText,HUCEightDigitCode,DrainageAreaMeasure/MeasureValue,DrainageAreaMeasure/MeasureUnitCode,ContributingDrainageAreaMeasure/MeasureValue,...,AquiferName,LocalAqfrName,FormationTypeText,AquiferTypeName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,USGS-CA,USGS California Water Science Center,USGS-11153470,LLAGAS C AB CHESBRO RES NR MORGAN HILL CA,Stream,NaN,18060002.0,9.63,sq mi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,USGS-CA,USGS California Water Science Center,USGS-11153650,LLAGAS C NR GILROY,Stream,NaN,18060002.0,84.20,sq mi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,USGS-CA,USGS California Water Science Center,USGS-11162600,PURISIMA C NR HALF MOON BAY CA,Stream,NaN,18050006.0,4.83,sq mi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,USGS-CA,USGS California Water Science Center,USGS-11162620,PILARCITOS C BL STONE DAM NR HILLSBOROUGH CA,Stream,NaN,18050006.0,6.54,sq mi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,USGS-CA,USGS California Water Science Center,USGS-11162655,SAN PEDRO C A PACIFICA,Stream,NaN,18050006.0,7.08,sq mi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS

In [250]:
# Data Cleaning to drop Nans, and merging

filtered_df_bio = filtered_df_bio.dropna(subset=["ResultMeasureValue"])
filtered_df_bio_joined = filtered_df_bio.merge(df_project, how = "left", left_on = "ProjectIdentifier", right_on = "ProjectIdentifier")
filtered_df_bio_joined = filtered_df_bio_joined.merge(df_site, how = "left", left_on = "MonitoringLocationIdentifier", right_on = "MonitoringLocationIdentifier")
filtered_df_bio_joined = filtered_df_bio_joined.dropna(axis=1, how='all')
filtered_df_bio_joined['ResultMeasureValue'] = pd.to_numeric(filtered_df_bio_joined['ResultMeasureValue'], errors='coerce')
filtered_df_bio_joined.head()

,OrganizationIdentifier_x,ActivityIdentifier,ActivityStartDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode,ResultStatusIdentifier,ProjectIdentifier,MonitoringLocationIdentifier,OrganizationIdentifier_y,...,CountryCode,StateCode,CountyCode,AquiferName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,USGS-CA,nwisca.01.01003947,2010-02-03,"Temperature, water",11.60000,deg C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,USGS-CA,nwisca.01.01003947,2010-02-03,"Temperature, air",9.50000,deg C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,USGS-CA,nwisca.01.01003947,2010-02-03,Barometric pressure,731.00000,mm/Hg,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,USGS-CA,nwisca.01.01003947,2010-02-03,Specific conductance,912.00000,uS/cm @25C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,USGS-CA,nwisca.01.01003947,2010-02-03,"Acidity, (H+)",0.00004,mg/l,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS

In [251]:
filtered_df_bio_joined.head()

,OrganizationIdentifier_x,ActivityIdentifier,ActivityStartDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode,ResultStatusIdentifier,ProjectIdentifier,MonitoringLocationIdentifier,OrganizationIdentifier_y,...,CountryCode,StateCode,CountyCode,AquiferName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,USGS-CA,nwisca.01.01003947,2010-02-03,"Temperature, water",11.60000,deg C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,USGS-CA,nwisca.01.01003947,2010-02-03,"Temperature, air",9.50000,deg C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,USGS-CA,nwisca.01.01003947,2010-02-03,Barometric pressure,731.00000,mm/Hg,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,USGS-CA,nwisca.01.01003947,2010-02-03,Specific conductance,912.00000,uS/cm @25C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,USGS-CA,nwisca.01.01003947,2010-02-03,"Acidity, (H+)",0.00004,mg/l,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS

In [252]:
# A look at how many different unit measurements there are to measure a certain Characteristic!

unit_check = filtered_df_bio_joined.groupby("CharacteristicName")["ResultMeasure/MeasureUnitCode"].apply(lambda x: x.dropna().unique())

multiple_units = unit_check[unit_check.apply(len) > 1]

if multiple_units.empty:
    print("Each CharacteristicName has only one unique unit type of measurement.")
else:
    print("Some CharacteristicNames have multiple unit types of measurement:")
    for characteristic, units in multiple_units.items():
        print(f"- {characteristic}: {', '.join(units)}")

Some CharacteristicNames have multiple unit types of measurement:
- Aluminum: ug/l, %
- Ammonia and ammonium: mg/l as N, mg/l NH4
- Antimony: ug/l, mg/kg
- Arsenic: ug/l, mg/kg
- Azoxystrobin: ng/l, ug/kg
- Barium: ug/l, mg/kg
- Benzo[a]pyrene: ug/l, ug/kg
- Beryllium: ug/l, mg/kg
- Boron: ug/l, mg/kg
- Cadmium: ug/l, mg/kg
- Calcium: mg/l, mg/kg, %
- Chromium: ug/l, mg/kg
- Clothianidin: ng/l, ug/kg
- Cobalt: mg/kg, ug/l
- Copper: ug/l, mg/kg
- Cotinine: ug/l, ng/l
- Dithiopyr: ug/kg, ng/l
- Diuron: ng/l, ug/kg
- Etoxazole: ng/l, ug/kg
- Fipronil Sulfide: ng/l, ug/kg
- Fipronil Sulfone: ng/l, ug/kg
- Fluoranthene: ug/kg, ug/l
- Fluridone: ng/l, ug/kg
- Height, gage: ft, m
- Hexazinone: ng/l, ug/kg
- Iron: ug/l, %, mg/kg
- Lead: ug/l, mg/kg
- Lithium: ug/l, mg/kg
- Magnesium: mg/l, mg/kg, %
- Manganese: ug/l, mg/kg
- Mercury: mg/kg, ng/l
- Methane: cm3/g STP, cm3/g @STP
- Methoxyfenozide: ng/l, ug/kg
- Molybdenum: ug/l, mg/kg
- Nickel: ug/l, mg/kg
- Nitrate: mg/l as N, mg/l asNO3
- Nitrite: mg/l as N, mg/l asNO2
- Nitrogen: cm3/g STP, cm3/g @STP
- Organic carbon: mg/l, %, % by wt, g/kg
- Orthophosphate: mg/l asPO4, mg/l as P
- Oxyfluorfen: ug/kg, ng/l
- Oxygen: mg/l, % saturatn
- Pendimethalin: ng/l, ug/kg
- Phenanthrene: ug/l, ug/kg
- Phosphorus: mg/kg, mg/kg as P, mg/l as P
- Piperonyl butoxide: ng/l, ug/kg
- Potassium: mg/l, mg/kg, %
- Propiconazole: ng/l, ug/kg
- Pyrene: ug/kg, ug/l
- Selenium: ug/l, mg/kg
- Silver: ug/l, mg/kg
- Simazine: ng/l, ug/l
- Sodium: mg/l, %
- Stream flow, instantaneous: ft3/s, m3/sec
- Strontium: ug/l, mg/kg
- Suspended Sediment Concentration (SSC): mg/l, %
- Thallium: ug/l, mg/kg
- Tin: mg/kg, ug/kg
- Total dissolved solids: mg/l, tons/ac ft
- Tungsten: ug/l, mg/kg
- Turbidity: FNU, NTU
- UV 254: units/cm, L/mgDOC*m
- Uranium: pCi/L, ug/l, mg/kg
- Vanadium: ug/l, mg/kg
- Zinc: ug/l, mg/kg

Each of the conversions, keeping and maintaining unit consistency.

In [253]:
# ug/L to mg/kg case scenario
# Assumption: water has a density of 1 kg/L

row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "ug/l"

# Dividing by 1000
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] / 1000
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [254]:
# % to mg/kg case scenario
row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "%"

# Multiplying by 10,000
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * 10000
)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [255]:
# ng/L to mg/kg case scenario
row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "ng/l"

# Dividing by 1,000,000
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] / 1_000_000
)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [256]:
# ft to m case scenario
row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "ft"

# Multiplying by 0.3048
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * 0.3048
)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "m"

In [257]:
# ft3/s to m3/s case scenario
row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "ft3/s"

# Multiplying by 0.0283168
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * 0.0283168
)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "m3/sec"

In [258]:
# mg/L as N to mg/L NH4 case scenario (if applicable)
row_indices_to_convert = filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l as N"

# Multiplying by 1.29 (example molecular weight conversion)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * 1.29
)
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/l NH4"

In [259]:
# mg/kg to ug/kg only for certain edge cases. Using properly of *1000

row_indices_to_convert = (
    (filtered_df_bio_joined["CharacteristicName"].isin(["Fipronil Sulfone", "Fluoranthene", "Pyrene"])) &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/kg")
)

filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * 1000
)

filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "ug/kg"

In [260]:
# mg/l to mg/kg only for certain edge cases. 

# assuming density = 1 for water

density = 1

row_indices_to_convert = (
    (filtered_df_bio_joined["CharacteristicName"].isin(["Calcium", "Magnesium", "Potassium", "Sodium"])) &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l")
)

filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] = (
    filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] * density
)

filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [276]:
# List of CharacteristicNames to convert from ug/kg to mg/kg
characteristics_to_convert = [
    "Azoxystrobin", "Benzo[a]pyrene", "Clothianidin", "Dithiopyr", "Diuron",
    "Etoxazole", "Fipronil Sulfide", "Fluridone", "Hexazinone", "Methoxyfenozide",
    "Oxyfluorfen", "Pendimethalin", "Piperonyl butoxide", "Propiconazole",
    "Tin", "Uranium"
]

# Filter rows where conversion is needed
row_indices_to_convert = (
    (filtered_df_bio_joined["CharacteristicName"].isin(characteristics_to_convert)) &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "ug/kg")
)

# Perform the conversion
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasureValue"] /= 1000
filtered_df_bio_joined.loc[row_indices_to_convert, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [262]:
# Convert mg/l NH4 to mg/l asNO3 for Nitrate
nitrate_indices = (filtered_df_bio_joined["CharacteristicName"] == "Nitrate") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l NH4"
)
filtered_df_bio_joined.loc[nitrate_indices, "ResultMeasureValue"] *= 4.43
filtered_df_bio_joined.loc[nitrate_indices, "ResultMeasure/MeasureUnitCode"] = "mg/l asNO3"

In [263]:
# Convert mg/l NH4 to mg/l asNO2 for Nitrite
nitrite_indices = (filtered_df_bio_joined["CharacteristicName"] == "Nitrite") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l NH4"
)
filtered_df_bio_joined.loc[nitrite_indices, "ResultMeasureValue"] *= 4.43
filtered_df_bio_joined.loc[nitrite_indices, "ResultMeasure/MeasureUnitCode"] = "mg/l asNO2"

In [264]:
# Convert % by wt to mg/kg for Organic Carbon
organic_carbon_indices = (filtered_df_bio_joined["CharacteristicName"] == "Organic carbon") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "% by wt"
)
filtered_df_bio_joined.loc[organic_carbon_indices, "ResultMeasureValue"] *= 10000
filtered_df_bio_joined.loc[organic_carbon_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [265]:
# Convert mg/l as PO4 to mg/l as P for Orthophosphate
orthophosphate_indices = (filtered_df_bio_joined["CharacteristicName"] == "Orthophosphate") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l asPO4"
)
filtered_df_bio_joined.loc[orthophosphate_indices, "ResultMeasureValue"] *= 0.326
filtered_df_bio_joined.loc[orthophosphate_indices, "ResultMeasure/MeasureUnitCode"] = "mg/l as P"

In [266]:
# Convert % saturation to mg/l for Oxygen
oxygen_indices = (filtered_df_bio_joined["CharacteristicName"] == "Oxygen") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "% saturatn"
)
# Example multiplier, replace with correct value if known
filtered_df_bio_joined.loc[oxygen_indices, "ResultMeasureValue"] *= 0.1
filtered_df_bio_joined.loc[oxygen_indices, "ResultMeasure/MeasureUnitCode"] = "mg/l"

In [267]:
# Standardize mg/kg as P to mg/kg for Phosphorus
phosphorus_indices = (filtered_df_bio_joined["CharacteristicName"] == "Phosphorus") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/kg as P"
)
filtered_df_bio_joined.loc[phosphorus_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [268]:
# Convert mg/l to mg/kg for SSC
ssc_indices = (filtered_df_bio_joined["CharacteristicName"] == "Suspended Sediment Concentration (SSC)") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l"
)
# Assuming density of 1 kg/L
filtered_df_bio_joined.loc[ssc_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [269]:
# Convert tons/ac ft to mg/l for Total Dissolved Solids
tds_indices = (filtered_df_bio_joined["CharacteristicName"] == "Total dissolved solids") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "tons/ac ft"
)
# Conversion factor: 1 ton/ac ft = 73,558.8 mg/l
filtered_df_bio_joined.loc[tds_indices, "ResultMeasureValue"] *= 73558.8
filtered_df_bio_joined.loc[tds_indices, "ResultMeasure/MeasureUnitCode"] = "mg/l"

In [270]:
# Convert units/cm to L/mgDOC*m for UV 254
uv_indices = (filtered_df_bio_joined["CharacteristicName"] == "UV 254") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "units/cm"
)
filtered_df_bio_joined.loc[uv_indices, "ResultMeasure/MeasureUnitCode"] = "L/mgDOC*m"

In [271]:
# Convert mg/l to mg/kg for "Organic carbon" minority case
final_oc_indices = (filtered_df_bio_joined["CharacteristicName"] == "Organic carbon") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l"
)

filtered_df_bio_joined.loc[final_oc_indices, "ResultMeasureValue"] /= 1000
filtered_df_bio_joined.loc[final_oc_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [272]:
# Convert mg/l as P to mg/kg for "Phosphorus" minority case
phosphorus_indices = (filtered_df_bio_joined["CharacteristicName"] == "Phosphorus") & (
    filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "mg/l as P"
)

# Perform the conversion
filtered_df_bio_joined.loc[phosphorus_indices, "ResultMeasureValue"] /= 1000
filtered_df_bio_joined.loc[phosphorus_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [282]:
# Methane and Nitrogen: Convert cm3/g STP to cm3/g @STP
methane_nitrogen_indices = (
    (filtered_df_bio_joined["CharacteristicName"].isin(["Methane", "Nitrogen"])) &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "cm3/g STP")
)

# Update the unit
filtered_df_bio_joined.loc[methane_nitrogen_indices, "ResultMeasure/MeasureUnitCode"] = "cm3/g @STP"

In [283]:
# Organic carbon: Convert g/kg to mg/kg
organic_carbon_indices = (
    (filtered_df_bio_joined["CharacteristicName"] == "Organic carbon") &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "g/kg")
)

# Perform the conversion
filtered_df_bio_joined.loc[organic_carbon_indices, "ResultMeasureValue"] *= 1000
filtered_df_bio_joined.loc[organic_carbon_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [284]:
# Turbidity: Convert FNU to NTU
turbidity_indices = (
    (filtered_df_bio_joined["CharacteristicName"] == "Turbidity") &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "FNU")
)

# Update the unit (values remain unchanged)
filtered_df_bio_joined.loc[turbidity_indices, "ResultMeasure/MeasureUnitCode"] = "NTU"

In [285]:
# Uranium: Convert pCi/L to mg/kg
uranium_indices = (
    (filtered_df_bio_joined["CharacteristicName"] == "Uranium") &
    (filtered_df_bio_joined["ResultMeasure/MeasureUnitCode"] == "pCi/L")
)

# Perform the conversion (replace the factor with the correct value if needed)
filtered_df_bio_joined.loc[uranium_indices, "ResultMeasureValue"] *= 0.000000034
filtered_df_bio_joined.loc[uranium_indices, "ResultMeasure/MeasureUnitCode"] = "mg/kg"

In [286]:
# FINAL CHECK

unit_check = filtered_df_bio_joined.groupby("CharacteristicName")["ResultMeasure/MeasureUnitCode"].apply(lambda x: x.dropna().unique())

multiple_units = unit_check[unit_check.apply(len) > 1]

if multiple_units.empty:
    print("Each CharacteristicName has only one unique unit type of measurement.")
else:
    print("Some CharacteristicNames have multiple unit types of measurement:")
    for characteristic, units in multiple_units.items():
        print(f"- {characteristic}: {', '.join(units)}")

Each CharacteristicName has only one unique unit type of measurement.

In [320]:
filtered_df_bio_joined.to_csv("final_merged_data.csv")

### Final preprocessed dataframe

In [312]:
'''

Important features for water quality as decided by textbook:

Summers, J. K. (2020). Water quality: Science, assessments and policy. BoD â€“ Books on Demand. https://doi.org/10.5772/intechopen.77531
'''

important_features_for_water_quality_assessment = ['Specific conductance', 'Oxygen', 'Orthophosphate', 'Nitrate', 'pH', 
                                                'Total dissolved solids', 'Potassium', 'Magnesium', 'Calcium', 'Temperature, water', 'Acidity, (H+)', 'Nitrite', 
                                                'Nitrogen, mixed forms (NH3), (NH4), organic, (NO2) and (NO3)', 'Sodium', 'Carbon-14', 'Uranium']

In [313]:
water_quality_df = filtered_df_bio_joined[filtered_df_bio_joined["CharacteristicName"].isin(important_features_for_water_quality_assessment)]
water_quality_df.head()

,OrganizationIdentifier_x,ActivityIdentifier,ActivityStartDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode,ResultStatusIdentifier,ProjectIdentifier,MonitoringLocationIdentifier,OrganizationIdentifier_y,...,CountryCode,StateCode,CountyCode,AquiferName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,USGS-CA,nwisca.01.01003947,2010-02-03,"Temperature, water",11.60000,deg C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,USGS-CA,nwisca.01.01003947,2010-02-03,Specific conductance,912.00000,uS/cm @25C,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,USGS-CA,nwisca.01.01003947,2010-02-03,"Acidity, (H+)",0.00004,mg/l,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
5,USGS-CA,nwisca.01.01003947,2010-02-03,Oxygen,6.00000,mg/l,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
6,USGS-CA,nwisca.01.01003947,2010-02-03,Oxygen,5.80000,mg/l,Accepted,NaN,USGS-374630121414701,NaN,...,US,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NWIS

In [317]:
pivot_data = water_quality_df.pivot_table(
    index=['ActivityIdentifier'],
    columns='CharacteristicName',
    values='ResultMeasureValue'
).reset_index()

In [318]:
pivot_data

CharacteristicName,ActivityIdentifier,"Acidity, (H+)",Calcium,Carbon-14,Magnesium,Nitrate,Nitrite,"Nitrogen, mixed forms (NH3), (NH4), organic, (NO2) and (NO3)",Orthophosphate,Oxygen,Potassium,Sodium,Specific conductance,"Temperature, water",Total dissolved solids,Uranium,pH
0,NARS_WQX-NCCA10-BC11:20100826:FM:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.851765
1,NARS_WQX-NCCA10-BD31:20100824:FM:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.871176
2,NARS_WQX-NCCA10-CB121S:20100901:FM:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.777826
3,NARS_WQX-NCCA10-LSB002S:20100830:FM:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.896522
4,NARS_WQX-NCCA10-LSB082S:20100830:FM:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.890952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,nwisca.01.02300016,0.00023,NaN,49.220,NaN,32.379893,NaN,NaN,0.022747,3.90,NaN,NaN,536.0,19.0,15973.642000,0.000044,7.150000
312,nwisca.01.02300017,0.00002,65.2,18.890,19.40,0.592810,0.014072,NaN,0.022747,0.30,1.92,215.0,1340.0,19.0,28759.206667,NaN,7.950000
313,nwisca.01.02300018,0.00029,55.2,40.915,44.70,18.936489,0.004857,NaN,0.064774,6.65,0.88,71.2,935.0,21.0,17755.916000,0.000547,7.350000
314,nwisca.01.02300171,0.00001,13.9,24.490,8.53,2.450100,0.004857,NaN,0.014998,2.05,3.45,105.0,555.0,18.0,12756.996000,NaN,8.150000
315,nwisca.01.02300172,0.00013,125.0,15.620,98.20,NaN,0.004857,NaN,0.013020,0.30,2.09,60.7,1430.0,19.5,31267.166667,0.000064,7.250000